<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" th:fragment="header">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" id="page-title"></a>
            </div>
        </div>
    </nav>
</html>
