<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="sidebar" data-color="white" data-active-color="danger" th:fragment="sidebar">
    <div class="logo">
        <div class="simple-text logo-normal">
            전자봉투 시스템
        </div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="#" th:href="@{/keys}" data-title="컨설턴트">
                    <i class="nc-icon nc-chat-33"></i>
                    <p>컨설턴트</p>
                </a>
            </li>
            <li>
                <a href="#" th:href="@{/keys}" data-title="수험생">
                    <i class="nc-icon nc-hat-3"></i>
                    <p>수험생</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>

