<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      lang="en">
<head>
    <meta charset="UTF-8" />
    <title>키 파일 생성</title>

    <!-- CSS Files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">키 파일 생성</h5>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/keys}" th:object="${createKeyDTO}" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label th:for="name">이름</label>
                                    <input type="text" th:field="*{name}" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label th:for="secretKeyFileName">대칭키 파일명</label>
                                    <input type="text" th:field="*{secretKeyFileName}" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label th:for="publicKeyFileName">공개키 파일명</label>
                                    <input type="text" th:field="*{publicKeyFileName}" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label th:for="privateKeyFileName">개인키 파일명</label>
                                    <input type="text" th:field="*{privateKeyFileName}" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">생성</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript" th:if="${isSuccess != null}">
        /*<![CDATA[*/
        let isSuccess = /*[[${isSuccess}]]*/ false;
        if (isSuccess === true) {
            alert("키 생성이 완료되었습니다.");
        } else {
            alert("키 생성에 실패했습니다.");
        }
        /*]]>*/
    </script>
</div>
</body>
</html>