<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      lang="en">
<head>
    <meta charset="UTF-8" />
    <title>키 파일 생성</title>

    <!-- CSS Files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">키 파일 생성</h5>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/keys}" th:object="${createKeyDTO}" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">이름</label>
                                    <input type="text" id="name" name="name" th:value="${name}" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="secretKeyName">대칭키 파일명</label>
                                    <input type="text" id="secretKeyName" name="secretKeyName" th:value="${secretKeyFName}" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="publicKeyName">공개키 파일명</label>
                                    <input type="text" id="publicKeyName" name="publicKeyName" th:value="${publicKeyFName}" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="privateKeyName">개인키 파일명</label>
                                    <input type="text" id="privateKeyName" name="privateKeyName" th:value="${privateKeyFName}" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">생성</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>